dependencies/debug/librive_sim.a filter=lfs diff=lfs merge=lfs -text
dependencies/debug/librive_skia_renderer_sim.a filter=lfs diff=lfs merge=lfs -text
dependencies/debug/librive_skia_renderer.a filter=lfs diff=lfs merge=lfs -text
dependencies/debug/librive.a filter=lfs diff=lfs merge=lfs -text
dependencies/release/librive_sim.a filter=lfs diff=lfs merge=lfs -text
dependencies/release/librive_skia_renderer_sim.a filter=lfs diff=lfs merge=lfs -text
dependencies/release/librive_skia_renderer.a filter=lfs diff=lfs merge=lfs -text
dependencies/release/librive.a filter=lfs diff=lfs merge=lfs -text
dependencies/libskia_ios.a filter=lfs diff=lfs merge=lfs -text
dependencies/libskia_ios_sim.a filter=lfs diff=lfs merge=lfs -text
