<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>destination</key>
        <string>export</string>
        <key>manageAppVersionAndBuildNumber</key>
        <true/>
        <key>method</key>
        <string>ad-hoc</string>
        <key>signingStyle</key>
        <string>manual</string>
        <key>teamID</key>
        <string>NJ3JMFUNS9</string>
        <key>provisioningProfiles</key>
        <dict>
                <key>rive.app.golden-test-app</key>
                <string>Golden Test Ad Hoc Distribution</string>
        </dict>
        <key>stripSwiftSymbols</key>
        <true/>
        <key>uploadSymbols</key>
        <false/>
</dict>
</plist>
